.button {
  padding: 8px 16px;
  margin: 8px 16px;
  background-color: #f1e7ff;
  border: 1px solid #54417e;
  border-radius: 5px;

  transition: background-color 250ms ease;
}

.button:hover,
.button:focus {
  background-color: #907fb6;
}
